# Please install the following dependencies

aicsimageio==4.11.0 
aicsimageio nd2==0.5.3
aicspylibczi==3.1.2 fsspec==2023.5.0
readlif==0.6.5
czifile==2019.7.2
webcolors==1.13
cv2==4.7.0.72
numpy==1.24.3
PySimpleGUI==4.60.5
Pillow==9.5.0
matplotlib==3.6.2
scikit-image==0.20.0
tqdm
